{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}
{% block metadesc %}Log into your account{% endblock %}
{% block pageWrapper %}login{% endblock %}


{% block body %}
<form method="post">
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}
    
    <h1 class="primary-title">Please log in</h1>
    
    <div class="form-create">
        <div class="form-content">

            <label for="inputEmail">Email</label>
            <input type="email" name="email" class="form-input-text" id="inputEmail" required>

            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-input-text" id="inputPassword" autocomplete="current-password" required>
            
            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
            >
        </div>
        
        <button class="form-btn-submit" type="submit">
            Log in
        </button>
    </div>
</form>

<a href="{{ path('forgot_password')}}">
    <p>I forgot my password</p>
</a>

{% endblock %}
