{# <h1>Hi! {{ user.first_name }}{{ user.last_name }}</h1> #}
<h1>Hi!{{ fullName }}</h1>

<p>
    To reinitialize your password click <a href="{{ signedUrl|raw }}">h e r e {{ signedUrl|raw }}</a>
</p>

<p>
    Cheers mate!
</p>
