{% extends 'base.html.twig' %}

{% block title %}Create a formation{% endblock %}
{% block metadesc %}Create a formation via the form{% endblock %}
{% block pageWrapper %}create-formation{% endblock %}


{% block body %}

    <h1>Create a formation</h1>


    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(createFormationForm) }}
        {{ form_errors(createFormationForm) }}
        {{ form_row(createFormationForm.label) }}

        <button type="submit" class="form-btn-submit" >Submit</button>
    {{ form_end(createFormationForm) }}

{% endblock %}
