{% extends 'base.html.twig' %}

{% block title %}Our formations{% endblock %}
{% block metadesc %}All of our formations{% endblock %}
{% block pageWrapper %}index-formation{% endblock %}

{% block body %}

    <h1 class="primary-title">Our formations</h1>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="create-entities">
        <a href="{{ path('create_formation') }}"><p>Create formation <b>+</b></p></a>
    </div>
    {% endif %} 

    <div class="table-list">

        <div class="table-row table-header">
            <p class="table-item">Title</p>
        </div>

        {% for formation in formations %}

            <div class="table-row">
                <a href="{{ path('list_session', {id:formation.id}) }}" class="table-item">
                    <p>{{ formation }}</p>
                </a>
                {# later nb sessions will be put #}
                <a href="{{ path('update_formation', {id: formation.id}) }}">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
    
                <a href="{{ path('delete_formation', {id: formation.id}) }}" class="deleteIcon">
                    <i class="fa-regular fa-trash-can"></i>
                </a>
            </div>

        {% endfor %}
    
    </div>
{% endblock %}
