{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}
{% block metadesc %}My home page{% endblock %}
{% block pageWrapper %}home{% endblock %}


{% block body %}
    <h1 class="secondary-title">Home Page</h1>
    
    <h2 class="primary-title">Welcome {{ app.user }}</h1>


        {% if is_granted('ROLE_ADMIN') %}
        <div class="create-entities">
            <a href="{{ path('create_formation') }}">Create formation <b>+</b></a>
            <a href="{{ path('create_session') }}">Create session <b>+</b></a>
            <a href="{{ path('create_module') }}">Create module <b>+</b></a>
            <a href="{{ path('create_tag') }}">Create tag <b>+</b></a>
        </div>
        {% endif %}

    <h2>Our formations</h2>

    <article class="home-formation-container">

        {% for formation in formations %}

            <div class="home-formation-items">
                <p><strong>{{ formation }}</strong></p>

                <a href="{{ path('list_session', {id:formation.id}) }}">
                    <p>Details</p>
                </a>
            </div>

        {% endfor %}

    </article>
    

{% endblock %}
