{% extends 'base.html.twig' %}

{% block title %}Create a session{% endblock %}

{% block metadesc %}Create a session via the form{% endblock %}

{% block body %}

    <h1 class="primary-title">Create a session</h1>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

        {{ form_start(createSessionForm) }}
            {{ form_errors(createSessionForm) }}
            
            {{ form_row(createSessionForm.Formation) }}
            {{ form_row(createSessionForm.title) }}
            {{ form_row(createSessionForm.nb_place) }}
            {{ form_row(createSessionForm.dateStart) }}
            {{ form_row(createSessionForm.dateEnd) }}
            
            <button type="submit" class="form-btn-submit" >Submit</button>
        {{ form_end(createSessionForm) }}

{% endblock %}
