{% extends 'base.html.twig' %}

{% block title %}Details session{% endblock %}
{% block metadesc %}Detail of the session {{ session }}{% endblock %}
{% block pageWrapper %}details-session{% endblock %}

{% block body %}

    <h2 class="secondary title">Details of the session</h2>
    <h1 class="primary-title">{{ session }}</h1>
    
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div id="table-information" class="table-list">
        <div class="table-row table-header">
            <p class="table-item">Additionnal information</p>
        </div>

        <div class="table-section">
            <p><b>From</b></p> 
            <p>{{ session.dateStart | date('d/m/Y') }}</p>

            <p><b>To</b></p> 
            <p>{{ session.dateEnd | date('d/m/Y') }}</p>
        </div>

        <div class="table-section">
            <div class="info-place-left">
                <b>Free Slot</b> 
                <p>{{ session.slotFree }}</p>
            </div>

            <div class="info-place-taken">       
                <b>Slot taken</b> 
                <p>{{ session.slotTaken }}</p>
            </div>

            <div class="info-place-total">   
                <b>Total Slot</b> 
                <p>{{ session.nbSlot }}</p>
            </div>

        </div>

        <div class="table-section">
            <p><b>Formation</b></p>
            <strong>{{ session.Formation }}</strong>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}

        {{ form_start(addProgrammeForm) }}
            <h3>Add Programme</h3>
            {{ form_errors(addProgrammeForm) }}
        
            {{ form_row(addProgrammeForm.Module) }}
            {{ form_row(addProgrammeForm.duration) }}

            <button type="submit" class="form-btn-submit" >Submit</button>
        {{ form_end(addProgrammeForm) }}

    {% endif %} 

    <div class="row-unique table-header">
        <p class="table-item">Module</p>
        <p class="table-item">Duration</p>
    </div>

    <div id="table-formation-module" class="table-list">
                
        {% for tag in tags %}
        <div class="table-row table-header">
            <p class="table-item">{{ tag }}</p>
        </div>
            {% for module in tag.modules %}
                {% for programme in module.programmes %}
                    <div class="table-row">
                        <p class="table-item">{{ programme }}</p>
                        <p class="table-item">{{ programme.duration }} days</p>

                        <a href="{{ path('delete_programme', {id: programme.id}) }}" class="deleteIcon">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>   
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>

    <div class="table-header row-unique header-student">
        <p class="table-item">Registered student</p>
    </div>   

    <div class="table-list">
        <div class="table-row table-header">
            <p class="table-item">Name</p>
            <p class="table-item">City</p>
            <p class="table-item">Birth date</p>
            <p class="table-item">Remove</p>
        </div>

        {% if registeredUser|length > 0 %}
        
            {% for student in registeredUser %}
            <div class="table-row">
                <a href="{{ path('details_user', {id: student.id}) }}" class="table-item ">
                    {{ student }}
                </a>
                
                <p class="table-item">{{ student.city }}</p>
                <p class="table-item">{{ student.formatedBirthDate }}</p>

                {% for sessions in student.sessions %}
                <a href="{{ path('delete_register_session', {id:sessions.id}) }}" class="table-item">
                    <b>-</b>
                </a>
                {% endfor %}
           
            </div>  
            {% endfor %}
        
        {% else %}
            <div class="table-row">
                <p class="table-item">No students registered yet</p>
            </div>
        {% endif %}
    </div>

    <div class="table-header row-unique header-student">
        <p class="table-item">Unregistered student</p>
    </div>

    <div class="table-list">
        <div class="table-row table-header">
            <p class="table-item">Name</p>
            <p class="table-item">City</p>
            <p class="table-item">Birth date</p>
            <p class="table-item">Add</p>
        </div>

        {% for student in unregisteredUser %}
        <div class="table-row">
                <a href="{{ path('details_user', {id: student.id}) }}" class="table-item ">
                    {{ student }}
                </a>
                
                <p class="table-item">{{ student.city }}</p>
                <p class="table-item">{{ student.formatedBirthDate }}</p>
            
                
                <a href="{{ path('create_register_session', {id_se: session.id, id_us: student.id}) }}" class="table-item">
                    <b>+</b>
                </a>
        </div>  
        {% endfor %}

    </div>

{% endblock %}
