{% extends 'base.html.twig' %}

{% block title %}Our sessions{% endblock %}
{% block metadesc %}All of our passed and incoming sessions{% endblock %}
{% block pageWrapper %}index-session{% endblock %}

{% block body %}
    <h1 class="primary-title">Our sessions</h1>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="create-entities">
        <a href="{{ path('create_session') }}">Create session <b>+</b></a>
    </div>
    {% endif %}

    <div class="table-list">

        <div class="table-row table-header">
            <p class="table-item">Incoming Sessions</p>
        </div>

        <div class="table-row">
        {% if sessions|length > 0 %}
        
            {% for session in sessions %} 
                <a href="{{ path('details_session', {id: session.id}) }}" class="table-item ">
                    {{ session }}
                </a>
                
                <p class="table-item">{{ session.showDates }}</p>
                <p class="table-item">{{ session.slotFree }} Slot ({{ session.nbSlot }} total)</p>
                <p class="table-item">{{ session.Formation }}</p>

                <a href="{{ path('update_session', {id: session.id}) }}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <a href="{{ path('delete_session', {id: session.id}) }}" class="deleteIcon">
                    <i class="fa-solid fa-trash"></i>
                </a>
            {% endfor %}

        {% else %}
            <p class="table-item">There is no incoming sessions</p>
        {% endif %}
        </div>  
        
    </div>

    <div class="table-list">

        <div class="table-row table-header" id="passed-sessions-head">
            <p class="table-item">Passed Sessions</p>

            <i class="fa-solid fa-chevron-up arrow"></i>
        </div>

        {% for session in passed %}
        <div class="table-row passed-sessions-content" >
            <a href="{{ path('details_session', {id: session.id}) }}" class="table-item">
                {{ session }}
            </a>
            
            <p class="table-item">{{ session.showDates }}</p>

            {% if session.slotFree == 0 %}
                <p class="table-item"><b>Full</b></p>
            {% else %}
                <p class="table-item">{{ session.slotFree }} Slot ({{ session.nbSlot }} total)</p>
            {% endif %}

            <a href="{{ path('list_session', {id: session.formation.id}) }}" class="table-item">
                {{ session.Formation }}
            </a>

            <a href="{{ path('update_session', {id: session.id}) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>

            <a href="{{ path('delete_session', {id: session.id}) }}" class="deleteIcon">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>  
        {% endfor %}

    </div>

{% endblock %}
