{% extends 'base.html.twig' %}

{% block title %}All of our incoming sessions{% endblock %}
{% block metadesc %}Our sessions{% endblock %}
{% block pageWrapper %}index-session{% endblock %}

{% block body %}
    <h1 class="primary-title">Our sessions</h1>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="create-entities">
        <a href="{{ path('create_session') }}">Create session <b>+</b></a>
    </div>
    {% endif %} 
    

    <div class="table-list">

        <div class="table-row table-header">
            <p class="table-item">Title</p>
            <p class="table-item">Dates</p>
            <p class="table-item">nbPlace</p>
            <p class="table-item">Formation</p>
        </div>

        {% for session in sessions %}
        <div class="table-row">
            <a href="{{ path('details_session', {id: session.id}) }}" class="table-item">
                {{ session }}
            </a>
            
            <p class="table-item">{{ session.showDates }}</p>
            <p class="table-item">{{ session.nbPlace }}</p>
            <p class="table-item">{{ session.Formation }}</p>

            <a href="{{ path('update_session', {id: session.id}) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>

            <a href="">
                <i class="fa-solid fa-xmark"></i>
            </a>
        </div>
        {% endfor %}
        
    </div>

{% endblock %}
