{% extends 'base.html.twig' %}

{% block title %}Sessions by formation{% endblock %}
{% block metadesc %}Sessions by formation: {{ formation }}{% endblock %}
{% block pageWrapper %}list-session{% endblock %}

{% block body %}
    <h2 class="secondary-title">List of sessions per formation</h2>
    <h1 class="primary-title">{{ formation }}</h1>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('create_session') }}">
        Create session <b>+</b>
    </a>
    {% endif %} 

    <div class="table-list">

        <div class="table-row table-header">
            <p class="table-item">Title</p>
            <p class="table-item">Dates</p>
            <p class="table-item">Slots</p>
        </div>

        {% if formation.sessions|length > 0 %}

            {% for session in formation.sessions|sort((b, a) => a.dateStart <=> b.dateStart) %}
            <div class="table-row">
                <a href="{{ path('details_session', {id: session.id}) }}" class="table-item">
                    {{ session }}
                </a>
                
                <p class="table-item">{{ session.showDates }}</p>
                <p class="table-item">{{ session.nbSlot }}</p>

                <a href="{{ path('update_session', {id: session.id}) }}">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>

                <a href="{{ path('delete_formation', {id: formation.id}) }}">
                    <i class="fa-regular fa-trash-can"></i>
                </a>
            </div>
            {% endfor %}

        {% else %}
        <div class="table-row">
            <p class="table-item">There is no session for this formation yet</p>
        </div>
        {% endif %}
        
    </div>

{% endblock %}
