{% extends 'base.html.twig' %}

{% block title %}Create a module{% endblock %}

{% block metadesc %}Create a module via the form{% endblock %}
{% block pageWrapper %}create-module{% endblock %}


{% block body %}

    <h1 class="primary-title">Create a module</h1>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
        {{ form_start(createModuleForm) }}
            {{ form_errors(createModuleForm) }}
        
            <div class="form-content">
                {{ form_row(createModuleForm.Tag) }}
                {{ form_row(createModuleForm.label) }}
            </div>
        
            <button type="submit" class="form-btn-submit" >Submit</button>
        {{ form_end(createModuleForm) }}

{% endblock %}
