{% extends 'base.html.twig' %}

{% block title %}Create a modukle{% endblock %}

{% block metadesc %}Create a module via the form{% endblock %}

{% block body %}

    <h1 class="primary-title">Create a module</h1>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(createModuleForm) }}
        {{ form_errors(createModuleForm) }}

        {{ form_row(createModuleForm.Tag) }}
        {{ form_row(createModuleForm.label) }}

        <button type="submit" class="btn btn-primary" >Submit</button>
    {{ form_end(createModuleForm) }}

{% endblock %}
