{% extends 'base.html.twig' %}

{% block title %}Create a tag{% endblock %}

{% block metadesc %}Create a tag via the form{% endblock %}

{% block body %}

    <h1>Create a tag</h1>


    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(createTagForm) }}
        {{ form_errors(createTagForm) }}
        {{ form_row(createTagForm.label) }}

        <button type="submit" class="btn btn-primary" >Submit</button>
    {{ form_end(createTagForm) }}

{% endblock %}
