{% extends 'base.html.twig' %}

{% block title %}Create a tag{% endblock %}

{% block metadesc %}Create a tag via the form{% endblock %}
{% block pageWrapper %}create-tag{% endblock %}


{% block body %}

   
    <h1 class="primary-title">Create a tag</h1>
   

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

<div class="form-create">
    {{ form_start(createTagForm) }}
        {{ form_errors(createTagForm) }}

        <div class="form-content">
            {{ form_row(createTagForm.label) }}
        </div>
        
        <button type="submit" class="form-btn-submit" >Submit</button>
    {{ form_end(createTagForm) }}
</div>

{% endblock %}
