{% extends 'base.html.twig' %}

{% block title %}All of our tags{% endblock %}
{% block metadesc %}List of all our tags adn the modules tied to them{% endblock %}
{% block pageWrapper %}index-tag{% endblock %}


{% block body %}
<div id="wrapper-tag-list">

    <h1 class="primary-title">Our tags and their modules</h1>

        {% if is_granted('ROLE_ADMIN') %}
        <div class="create-entities">

            <a href="{{ path('create_tag') }}">
                <p>Create tag <b>+</b></p>
            </a>

            <a href="{{ path('create_module') }}">
                <p>Create module <b>+</b></p>
            </a>
        </div>
  
        {% endif %} 

    <div id="table-list">
        {% for tag in tags %}
            <div class="table-row table-header">  
                <h2 class="table-item">{{ tag }}</h2>

                <a href="{{ path('update_tag', {id:tag.id}) }}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                
                <a href="{{ path('delete_tag', {id: tag.id}) }}" class="deleteIcon">
                    <i class="fa-solid fa-xmark  "></i>
                </a>
            </div>

            {% if tag.Modules | length > 0 %}
                
                {% for module in tag.Modules %}
                    <div class="table-row">
                        <p class="table-item">{{ module }}</p>

                        <a href="{{ path('update_module', {id:module.id}) }}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
            
                        <a href="{{ path('delete_module', {id:module.id}) }}" class="deleteIcon">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </div>
                {% endfor %}
               
            {% else %}

                <div class="table-row">
                    <p class="table-item">This tag doesnt have any modules</p>
                </div>
               
            {% endif %}

        {% endfor %}

    </div>

</div>
{% endblock %}
