{% extends 'base.html.twig' %}

{% block title %}{{ user }} profile{% endblock %}

{% block metadesc %}{{ user }}' profile containing all his information{% endblock %}

{% block pageWrapper %}details-user{% endblock %}


{% block body %}
<h2 class="secondary-title">Details of a user</h2>
<h1 class="primary-title">{{ user }}</h1>

<div class="table-list">
    <div class="table-row table-header">
        <h2>Personal information</h1>

        <a href="">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>

        <a href="">
            <i class="fa-solid fa-xmark"></i>
        </a>
    </div>
    <div class="table-free">
        <p class="table-item"><b>BirthDate:</b> {{ user.formatedBirthDate }} ({{ user.showAge }})</p>
        <p class="table-item"><b>Email:</b> {{ user.email }}</p>
        <p class="table-item"><b>Postcode:</b> {{ user.postcode }}</p>
        <p class="table-item"><b>City:</b> {{ user.city }}</p>
        <p class="table-item"><b>Adress:</b> {{ user.adress }}</p>
    </div>
</div>

    

{% endblock %}


