{% extends 'base.html.twig' %}

{% block title %}User!{% endblock %}
{% block metadesc %}List of all our users{% endblock %}
{% block pageWrapper %}index-user{% endblock %}

{% block body %}

<h1>Registered user</h1>

<div class="table-list">
    
    <div class="table-row table-header">
        <p class="table-item">Name</p>
        <p class="table-item">BirthDate</p>
        <p class="table-item">City</p>
    </div>
    
    {% for user in users %} 
    <div class="table-row">
        <a href="{{ path('details_user', {id: user.id}) }}" class="table-item">
            {{ user }}
        </a>
            
        <p class="table-item">{{ user.formatedBirthDate }}</p>
        <p class="table-item">{{ user.city }}</p>

        <a href="{{ path('update_user', {id: user.id}) }}">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>

        <a href="{{ path('delete_user', {id: user.id}) }}" class="deleteIcon">
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
    {% endfor %}
        
</div>

{% endblock %}
